/bin/
/target/
/.settings/
/.classpath
/.project
.DS_Store
/lockscreen
*.log
*.log.gz
Thumbs.db
/packageJars/
/moduleJars/
/classes/
/test_gen_self_signed.pkcs12
/test_newcert.pem
/test_trusted_cert.jks
/test_csr.pem
